{
  "host": "{{ getv "/mailit/host" }}",
  "port": {{ getv "/mailit/port" }},
  "secure": True,
  "user": "{{ getv "/mailit/user" }}",
  "pass": "{{ getv "/mailit/password" }}",
  "rejectUnauthorized": false
}

